requests~=2.32.0
mcp~=1.26.0
typer~=0.24.0
rich~=14.3.3
datasette~=0.65.0
datasette-search-all~=1.1.0
datasette-publish-fly~=1.3.0
datasette-render-html~=1.0
sqlite-utils~=3.39
pytest~=9.0.2
pytest-cov~=6.0.0
ruff~=0.15.7
